In [1]:
#importing the required packes for  use in the study.
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
from scipy.stats import ttest_rel
import pingouin as pg

# here I am removing a nuicence error related to calculation of values using arrays.
pd.options.mode.chained_assignment = None

# setting the graph size
plt.rcParams["figure.figsize"] =(10,6)

In [4]:
# eyball the data
df = pd.read_csv('data/birthdata.csv')
df.tail()

      id  num_awards  prog  math
195  100           2     2    71
196  143           2     3    75
197   68           1     2    71
198   57           0     2    72
199  132           3     2    73